<!DOCTYPE html>
<html>
<head>
	<title>Dehydration - <%= title %></title>
</head>
<body>
<%- include navbar.ejs %>
	<h1 class="center-align">Dehydration</h1>
	<div class="container">
		<div class="row">
			<div class="col s6">
				<img src="images/dehydration.jpg" width = "90%">
			</div>
			<div class="col s6">
				<p>The process of dehydration, the removal of water from foods, is an important part of food and safety health in Los Angeles County.  At What’s Eating You?, visitors will be informed of the history of dehydration in L.A. County and the rest of the world.  Food dehydration is one of the most important and innovative developments, with many changes over time.  It is only necessary that visitors could observe past and present methods of dehydration to fully understand this.  In addition, visitors will also be informed of dehydration’s chemical properties, displayed with full chemical equations and additional information from the most esteemed scientists.  Lastly, a full-scale dehydrator will be the main focus of the exhibit, in addition to explanation of how dehydrators work.  Developed by our experts, this dehydrator delivers a more hands-on experience as well as more insight into food dehydration.</p>
			</div>
		</div>
	</div>
	<%- include footer.ejs %>
</body>
</html>