<!DOCTYPE html>
<html>
<head>
	<title>Fermentation - <%= title %></title>
</head>
<body>
    <%- include navbar.ejs %>
    <h1 class = "center-align">Fermentation</h1>
    <div class = "container">
        <div class = "col s6">
            <img src = "images/fermentation.jpeg" width = "90%">
        </div>
        <div class = "col s6">
            <p>Fermentation is the process where substances such as bacteria, yeast, and other microorganisms are involved in effervescence and give off heat. Fermentation has been a process used for thousands of years. The first foods to have been made from fermentation include alcohol, bread, and cheese. With the development of Zymology, the study of the metabolic process that is fermentation, people were able to grasp a better understanding of this process and have since then applied it to
            our daily use. According to the World Health Organization on the FDA and fermented foods, they have not found any cases of food illnesses because “From the food safety point of view, the benefits of fermentation include the inhibition of the growth of most pathogenic bacteria and the formation of bacterial toxins” These fermented processes can reduce the risk of botulism, a type of food poisoning caused by a bacterium growing on improperly sterilized canned meats and other
            preserved foods. Fermentation has been known to have many health benefits. Eating fermented foods and drinking fermented drinks like Kombucha and Ginger Ale will introduce beneficial bacteria into your body and help maintain the balance of bacteria in your digestive system. Probiotics have also been shown to help decrease or reverse some diseases, improve bowel health, and improve immunity. Furthermore, other studies have shown reductions in risk of cardiovascular disease,
            type 2 diabetes, and overall mortality from frequent yogurt consumption. These benefits might extend to physiological responses, a possibility recently indicated by the finding that fermented milk consumption improved glucose metabolism and reduced muscle soreness induced by lack of exercise. </p>
        </div>
    </div>
    <%- include footer.ejs %>    
 </body>
</html>
