<!DOCTYPE html>
<html>
<head>
	<title>GMOs - <%= title %></title>
</head>
<body>
	<%- include navbar.ejs %>	
	<h1 class = "center-align">GMOs</h1>
	<div class = "container">
		<div class = "row">
			<div class = "col s6">
				<img src="images/gmos.png" height = "" width = "90%">
			</div>
			<div class = "col s6">
				<p>GMOs (Genetically Modified Organisms) are living organisms that have been genetically engineered in laboratory which creates combinations of genetics and DNA that doesn’t occur naturally. In recent years, GMOs are a rising topic with many common foods consumed by the public are modified to contain more nutritional value or to produce insecticides. This process of genetically modifying organism is to identify a desired genetic trait, isolating the trait, and instereting the trait into the DNA code of the new genome. The new organism is controlled in order to ensure that the trait is being replicated through the DNA. The concept of this process done in biotechnology labs can be replicated by simply using paper clips. The paper clips represent DNA code and a change of paper clip represents the trait that is inserted and desired.</p>
			</div>
		</div>
	</div>
	<%- include footer.ejs %>	
</body>
</html>