<!DOCTYPE html>
<html>
<head>
	<title>Illness - <%= title %></title>
</head>
<body>
	<%- include navbar.ejs %>
	<h1 class="center-align">Illness and Contamination</h1>
	<div class = "container">
		<div class = "row">
			<div class = "col s6">
				<img src="images/caution.png">
			</div>
			<div class = "col s6">
				<p>Foodborne illnesses occur when food becomes contaminated with viruses, bacteria, parasites, toxins, or microbials. Typically, foodborne illnesses are associated with something as simple as an upset stomach; however, infected people can be hospitalized, sometimes resulting in death.  Typically, food becomes contaminated by way of physical, chemical, biological, and cross contamination. In the Los Angeles area, Viral Meningitis , Hepatitis A, Salmonella, Campylobacter are very prevalent contaminants in the food industry. Both Hepatitis A and Viral Meningitis are viruses, while Salmonella and Campylobacter are bacteria. Contamination caused by these viruses and bacteria fall under biological contamination because viruses and bacteria are living organisms. The most common way to avoid becoming infected with a foodborne illness is to wash your food before preparing it, wash your hands, and store food properly. </p>
			</div>
		</div>
		<p>The Interactive for the Illness and Contamination group is a matching game using petri dishes filled with “Salmonella, Hepatitis A, Viral Meningitis, and Campylobacter”. The petri dish will actually contain a picture of the contaminant, and bread crumbs that symbolize the contaminant spread over the agar (jello will represent the agar). The visitor will have to match the contaminant to the petri dish, and label it as a bacteria or virus. If the the visitor matches the majority correctly, they have the option to pick  a candy from a bowl or a bag displayed at the exhibit. </p>
	</div>
	<%- include footer.ejs %>

</body>
</html>