<!DOCTYPE html>
<html>
<head>

	<title>Home - <%= title %></title>
</head>
<body class = "gif ">
	<%- include navbar.ejs %>
	<main class = "valign-wrapper row main">
		<div class = "col s12 14 pull-14">
			<h1 class="valign center-align red-text"><%= title %></h1>
			<div class = "container">
<!-- 			<p class = "center-align red-text">The "What's Eating You?" gallery is one of 5 galleries within the Los Angeles Public Health Museum. The gallery is devoted to educating the public on the past, present and future of Los Angeles Food Safety. Located in a hub of food laboratories and a diverse restaurants, Los Angeles is a prime location for an adventure through taste. The gallery is comprised of 9 multiple exhibits, with topics ranging from pasteurization to genetically-modified organisms. </p> -->
			</div>
			<div class = "row center-block center-align">
<!-- 				<a class = "red white-text text-lighten-1 btn">Learn More!</a>
 -->				<h5> Explore: <strong><span class="typed"></span></strong> </h5>
			</div>
			<div style = "height:20vh;">
				<a data-scroll href="#footer" class="red text-lighten-1 scroll-down" address="true"></a>
			</div>
		</div>
	</main>
	<%- include footer.ejs %>
	<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.min.js"></script>
	<script type="text/javascript">
	var scroll = new SmoothScroll('a[href*="#"]');
	var typed = new Typed(".typed", {
	  // Waits 1000ms after typing "First"
	  strings: ["Illnesses and Contamination", "GMOs","Pasteurization and High Pressure Pasteurization", "Fermentation","Dehydraton", "Irradiation","Perservatives vs Preservation", "Refrigeration and Freezing","Refrigeration and Freezing","Context and Minor Signage"],
	  loop:true
	});
	</script>
</body>
</html>
