<!DOCTYPE html>
<html>
<head>
	<title>Irradiation - <%= title %></title>
</head>
<body>
<%- include navbar.ejs %>
	<h1 class="center-align">Irradiation</h1>
	<div class="container">
		<div class="row">
			<div class="col s6">
				<img src="images/irradiation.jpg" width = "90%">
			</div>
			<div class="col s6">
				<p>Irradiation is the process by which food is exposed to radiation to kill pathogens in food. In allowing food to undergo irradiation, food is able to be stored longer, and its nutritional value is able to be preserved. Although irradiation is able to lower the risk of pathogen existance in food, many times irradiation is only able to stop the reproduction of bacteria; irradiation is unable to remove already existing bacteria. </p>
				<p>At our gallery, visitors are able to view a simulated food item undergoing irradiation at a surface level, where bacteria presence is able to be seen. </p>
			</div>
		</div>
	</div>
	<%- include footer.ejs %>
</body>
</html>