<div class = "navbar-fixed">
	<nav class="red lighten-1">
		<div class = "nav-wrapper">
		<div class = "container">
<!-- 		<a class="white-text brand-logo" href="/">Home</a>
 -->		<ul id = "nav-mobile" class="right hide-on-med-down">
		  <li><a class="white-text" href="/illness">Illness and Contamination</a></li>
		  <li><a class="white-text" href="/gmos">GMOs</a></li>
		  <li><a class="white-text" href="/pasteurization">Pasteurization and High Presure Pasteurization</a></li>
		  <li><a class="white-text" href="/fermentation">Fermentation</a></li>
		  <li><a class="white-text" href="/dehydration">Dehydration</a></li>
		  <li><a class="white-text" href="/irradiation">Irradiation</a></li>
		  <li><a class="white-text" href="/perservatives">Preservatives vs Perservatives</a></li>
		  <li><a class="white-text" href="/refrigeration">Refrigeration and Freezing</a></li>
		  <li><a class="white-text" href="/context">Context and Minor Signage</a></li>
		</ul>	
		</div>	
		</div>
	</nav>
</div>
<ul class="sidenav" id = "mobile-demo">
	<nav class="red lighten-1">
		<div class = "nav-wrapper">
		<ul id = "nav-mobile" class="right hide-on-med-down">
		  <li><a class="white-text" href="/illness">Illness and Contamination</a></li>
		  <li><a class="white-text" href="/gmos">GMOs</a></li>
		  <li><a class="white-text" href="/pasteurization">Pasteurization and High Presure Pasteurization</a></li>
		  <li><a class="white-text" href="/fermentation">Fermentation</a></li>
		  <li><a class="white-text" href="/dehydration">Dehydration</a></li>
		  <li><a class="white-text" href="/irradiation">Irradiation</a></li>
		  <li><a class="white-text" href="/perservatives">Preservatives vs Perservatives</a></li>
		  <li><a class="white-text" href="/refrigeration">Refrigeration and Freezing</a></li>
		  <li><a class="white-text" href="/context">Context and Minor Signage</a></li>
		</ul>		
		</div>
	</nav>
</ul>