<div class = "navbar-fixed">
	<nav class="red lighten-1">
		<div class = "nav-wrapper">
		<ul id = "nav-mobile" class="right hide-on-med-down">
			<li class = "white-text"><a href="/">Home</a></li>
		</ul>
		</div>
	</nav>
</div>
<ul class="sidenav" id = "mobile-demo">
	<li><a href="/">Home</a></li>
</ul>