<!DOCTYPE html>
<html>
<head>
	<title>Pasteurization - <%= title %></title>
</head>
<body>
	<%- include navbar.ejs %>	
	<h1 class = "center-align">Pasteurization</h1>
	<div class = "container">
		<div class = "row">
			<div class = "col s6">
				<img src="images/pasteurization.png" height = "" width = "90%">
			</div>
			<div class = "col s6">
				<p>Pasteurization is an important process that cleanses certain types of foods, primarily dairy products. In short, the process involves killing harmful bacteria found in foods that can potentially cause foodborne illnesses. Times and temperature used for pasteurization depends on the type of food and the steps taken to ensure the retainment of the food’s nutrients, color, texture, and flavor. Although it is true that this process allows people to consume safer foods, it has be found that pasteurization has actually killed essential nutrients along with the harmful bacteria. Overall, there are an equal amount of benefits and negative effects that pasteurization has on food. Commonly known foods of pasteurization are dairy products such as milk, yogurt, cheese, cream, sour cream, and butter, and non-dairy products such as honey, vinegar, wine, almonds, fruit juices, etc. </p>
			</div>
		</div>
		<p>	Our interactive involves a process in which the audience will choose the raw milk from different types of milk presented to them: unpasteurized (raw) milk and pasteurized milk. The two types of milk are presented to the audience in jars and they will be asked to choose which one is the raw milk. We would use the large cut-out board of the cow before presenting the audience with the milk jars; the cut-out board would be used as a simulation of milking a cow in which the raw milk would come out of (audience will be offered to “milk” the cow”).</p>
	</div>
	<%- include footer.ejs %>	
</body>
</html>