<!DOCTYPE html>
<html>
<head>
	<title>Perservatives - <%= title %></title>
</head>
<body>
	<%- include navbar.ejs %>	
	<h1 class = "center-align">Perservatives</h1>
	<div class = "container">
		<div class = "row">
			<div class = "col s6">
				<img src="perservatives.png" height = "" width = "90%">
			</div>
            <div class = "col s6"><p>Preservatives and preservation can sound like the same thing, but really, they’re used to describe completely different aspects of food conservation. Preservatives are chemicals, such as nitrites and benzoates, that are placed in food in order to minimize bacteria growth, thereby extending their shelf life for commercial selling. Preservation, on the other hand, indicates the processes that are used to extend a food’s shelf life. Methods of preservation
            include pickling, salting, freezing, and canning. Over the years, many preservatives and preservation methods have been developed, but even today, there are still many U.S. registered preservatives which scientists do not know the health effects of, and therefore, studies on preservatives are of great importance to ensure food safety. 
        Our interactive displays the difference in food spoilage due to the application of various preservation methods. Natural and preserved food items have been stored in mason jars for a week, and it is evident that the food items that went through preservation processes have undergone less spoilage. 
    </p></div>
		</div>
	</div>
	<%- include footer.ejs %>	
</body>
</html>
