<!DOCTYPE html>
<html>
<head>
	<title>Refrigeration - <%= title %></title>
</head>
<body>
    <%- include navbar.ejs %>
    <h1 class = "center-align">Refrigeration</h1>
    <div class = "container">
        <div class = "row">
            <div class = "col s6">
                <img src = "images/refrigeration.png" width="90%">
            </div>
            <div class = "col s6">
                <p>Refrigeration and freezing a method to slow down the process of food spoilage. Bacteria do not perform well in cold environments. Refrigerating food slows down bacteria and freezing stops bacteria action.Refrigeration and Freezing may be known as a simple method of preserving your food on a daily basis. This is not used only in your everyday lives, but it is also used in the meat industry. One method of freezing is flash freezing. Flash freezing is the freezing of foods at
                an extremely low temperature with cold, circulation air. This method makes ice crystals small, which will prevent the losing of moisture when the food thaws. 
                </p>
                <p>Truck Mini-Game:</p>
                <ol class = "">
                    <li>We will have Poultry Meat transport trucks from different eras description of the transport truck.</li>
                    <li>The player will then read out the description of the then, unknown truck. (Description will include physical attributes and internal attributes such as  liquid nitrogen, ice and dry ice)</li>
                    <li>After reading, the player will then decide where the description goes out of the following trucks.</li>
                    <li>They repeat this until they complete the game.</li>
                    <li>(This game is based on the puzzle game, named “Pair”)</li>
                </ol>
            </div>
        </div>
    </div>
    <%- include footer.ejs %>
</body>
</html>
