<html>
    <head>
        <title> Works Cited - <%= title %> </title>
    </head>
    <body>
        <%- include navbar.ejs %>
        <h1 class = "center-align">Image Citations</h1>
        <div class = "container">
            <ol>
                <li>"Contaminated Food From Hotel Takes Toll On Several People’S Health." Pakistantoday.com.pk. N. p., 2017. <a href="https://www.pakistantoday.com.pk/2017/11/10/contaminated-food-from-hotel-takes-toll-on-several-peoples-health/">https://www.pakistantoday.com.pk/2017/11/10/contaminated-food-from-hotel-takes-toll-on-several-peoples-health/</a></li>
                <li>VEGGIES, 20. "THE DRY FACTS ABOUT DEHYDRATING FRUITS AND VEGGIES." Kellogg Garden Products. N. p., 2017.<a href="http://www.kellogggarden.com/organic-gardening/preserving/dry-facts-dehydrating-fruits-veggies/">http://www.kellogggarden.com/organic-gardening/preserving/dry-facts-dehydrating-fruits-veggies/</a></li>
                <li>"The Brief History Of Canning Food." The Spruce Eats. N. p., 2018.<a href="https://www.thespruceeats.com/brief-history-of-canning-food-1327429">https://www.thespruceeats.com/brief-history-of-canning-food-1327429</a></li>
                <li>Juray. "Genetic Engineering: Researching An Application." Youth Voices. N. p., 2017.<a href="https://www.youthvoices.live/2017/06/04/genetic-engineering-researching-an-application-6/">https://www.youthvoices.live/2017/06/04/genetic-engineering-researching-an-application-6/</a></li>
                <li>"How Does Food Irradiation Work?." Ccr.ucdavis.edu. N. p., 2018.<a href="https://ccr.ucdavis.edu/food-irradiation/how-does-food-irradiation-work">https://ccr.ucdavis.edu/food-irradiation/how-does-food-irradiation-work</a></li>
                <li>"The Function Of Milk Pasteurization Machine In Milk Processing." Ticomachine.com. N. p., 2018.<a href="http://www.ticomachine.com/uploads/allimg/milk-pasteurization-machine.jpg"></a></li>
                <li>"Recent Trends In Food Packaging 2018 – Wowyar." WowYar. N. p., 2018.<a href="http://www.wowyar.com/health/recent-trends-food-packaging-2018.html">http://www.wowyar.com/health/recent-trends-food-packaging-2018.html</a></li>
                <li>"9 Tips For Storing Leftovers Like A Boss." HuffPost UK. N. p., 2017.<a href="https://www.huffingtonpost.co.uk/entry/tips-for-storing-leftover-food-correctly_uk_599aa865e4b0a2608a6d2720?guccounter=1">https://www.huffingtonpost.co.uk/entry/tips-for-storing-leftover-food-correctly_uk_599aa865e4b0a2608a6d2720?guccounter=1</a></li>
            </ol>
            <p class = "    ">(Cover Photo): "Los Angeles." The Telegraph. N. p., 2018. <a href = "https://www.telegraph.co.uk/content/dam/Travel/Destinations/North%20America/USA/Los%20Angeles/Los-Angeles---Nightlife---Cityscape-small.jpg">https://www.telegraph.co.uk/content/dam/Travel/Destinations/North%20America/USA/Los%20Angeles/Los-Angeles---Nightlife---Cityscape-<small class="jpg"></small></a></p>
        </div>
        <%- include footer.ejs %>
    </body>
</html>
