<html>
    <head>
        <title> <%= title %> </title>
    </head>
    <body>
        <h1 class = "center-align">Works Cited</h1>
        <div class = "container">
            <ol>
                <li></li>
            </ol>
        </div>
    </body>
</html>
