<html>
    <head>
        <title> Works Cited - <%= title %> </title>
    </head>
    <body>
        <%- include navbar.ejs %>
        <h1 class = "center-align">Works Cited</h1>
        <div class = "container">
            <ol>
                <li></li>
            </ol>
        </div>
        <%- include footer.ejs %>
    </body>
</html>
